/* Home Page */
:root {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }

.main {
    display: flex;
    flex-direction: row;
}

.home {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "lit lit graph graph"
        "lit lit graph graph"
        "canvas canvas graph graph"
        "canvas canvas graph graph"
    ;
}

.home:before {
    background-image: url('../images/clouds.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    opacity: 0.5;
}


.graph_container {
    grid-area: graph;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chart {
    width: 100%;
    height: auto;
}


.lit {
    grid-area: lit;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}

.canvas {
    grid-area: canvas;
    border-radius: 100%;
    transform: scale(0.4);

    top: 0%;
    justify-self: center;
    align-self: flex-start;
}

.canvas canvas {
    border-radius: 100%;
    opacity: 1;
}

/* navigation bar */

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: visible;
    z-index: 1;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.6);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
    font-size: 2rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .home {
        width: 100vw;
        height: auto;
        position: relative;
        margin: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chart svg {
        transform: scale(0.7);
        max-width: 100vw;
        align-self: flex-start;
    }

    .chart text {
        font-size: 1.5rem;
    }
    
    .lit, canvas {
        display: none;
    }

    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 15rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
